name: CD-Deploy
on:
  workflow_run:
    workflows: ["CI-Build-Push"]
    types: [completed]
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Setup AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - name: Update Lambda
        run: |
          aws lambda update-function-code \
            --function-name EventMonitorLambda \
            --image-uri 736116164296.dkr.ecr.ap-south-1.amazonaws.com/datagrokr-intern-devops:latest